.intro-2 {
    /* background: url(../img/baner.png) no-repeat center center; */
    background-size: contain;
}

.video-container {
    position: absolute;
    overflow: hidden;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.video-container video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.navbar {
    background-color: transparent;
    min-height: 70px;
}

.navbar-brand {
  padding: 0 15px;
  height: 70px;
  line-height: 70px;
}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 18px;
  padding: 9px 10px !important;
}

.nav-item.nav-link {
    /* color: #001e23; */
    color: white;
}

.top-nav-collapse {
    background-color: #ffa734;
}

.img-overlay {
    margin-bottom: 5%;
}

.btn-reg-intro {
    border-style: inset;
    /* border-width: 5px; */
    /* color: #001e23; */
    color: white;
    width: 40%;
}

#s-updates {
    background-color: #001e23;
    height: 50%;
    max-height: 300px;
    /* padding: 135px; */
    padding: 7.5%;
}

#s-updates .single {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2;
}
#s-updates .single h2 {
    font-size: 22px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 40px;
}
#s-updates .single .form-control {
    height: 50px;
    background: rgba(255, 255, 255, 0.6);
    background: #f2f2f2;
    border-color: transparent;
    border-radius: 20px 0 0 20px;
}
#s-updates .single .form-control:focus {
    box-shadow: none;
    border-color: #ffa734;
}
#s-updates .single .btn {
    min-height: 50px;
    border-radius: 0 20px 20px 0;
    background: #ffa734;
    color: #001e23;
}

footer {
    background-color: #001e23;
}

.fa-footer{
    color: white;
}

/*Speakers*/

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #ffa734;
    border-color: #ffa734;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #ffa734;
    border-color: #ffa734;
}

#speakers {
    padding: 60px 0;
    background-color: #f2f2f2;
}

#speakers .section-title {
    text-align: center;
    color: #001e23;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#speakers .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #ffa734 !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #ffa734 !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.btn-view-all {
    width: 25%;
}

.btn-view-all:not(:disabled):not(.disabled):active:focus{
    background-color: #ffa734;
    border-color: #ffa734;
    box-shadow: none;
}

/*Speakers*/

/*Schedule*/

#schedule {
    background-color: #001e23;
}

.sch-block {
    position: relative;
    width: 100%;
    display: block;
}

.sch-block .nav-pills {
    width: 100%;
    display: block;
}

.sch-block .nav-pills p {
    margin-bottom: 0;
}

.sch-block .nav-pills .nav-link {
    padding: 35px 30px !important;
    border-radius: 0;
    margin-bottom: 0;
    color: #001e23;
    font-size: 22px;
    font-weight: 700;
    position: relative;
    display: inline-block;
    border: 1px solid transparent;
    background: #fff;
    width: 25%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
}

.sch-block .nav-pills .nav-link:after {
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    width: 0;
    content: '';
    height: 0;
    margin: 0 auto;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #ffa734 transparent transparent transparent;
    opacity: 0;
}

.sch-block .nav-pills .nav-link span {
    display: block;
    font-size: 14px;
}

@media (max-width: 991.98px) {
    .sch-block .nav-pills .nav-link {
        color: rgba(255, 255, 255, 0.7);
    }
}

.sch-block .nav-pills .nav-link:hover {
    background: #e68200;
    color: #fff;
}

.sch-block .nav-pills .nav-link.active {
    color: #fff;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border: 1px solid transparent;
    background: #ffa734;
}

.sch-block .nav-pills .nav-link.active:after {
    opacity: 1;
}

@media (max-width: 767.98px) {
    .sch-block .nav-pills .nav-link.active:after {
        opacity: 0;
    }
}

@media (max-width: 767.98px) {
    .sch-block .nav-pills .nav-link {
        display: block;
        margin-bottom: 5px;
    }
}

.sch-block .tab-content {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    margin-top: 15px;
}

/* .sch-animate {
    opacity: 0;
    visibility: hidden;
} */

.speaker-wrap {
    width: 100%;
    background: #fff;
    padding: 40px;
    margin-bottom: 20px;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.speaker-wrap .speaker-img img{
    width: 120px;
    height: 120px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.speaker-wrap .text {
    width: calc(100% - 120px);
}

.speaker-wrap .text h2 {
    font-size: 24px;
    font-weight: 700;
}

.speaker-wrap .text h2 a {
    color: #001e23;
}

.speaker-wrap .text h3.speaker-name {
    font-size: 20px;
}

.speaker-wrap .text h3.speaker-name a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    color: #ffa734;
}

.speaker-wrap .text h3.speaker-name a:hover,
.speaker-wrap .text h3.speaker-name a:focus {
    text-decoration: none;
    color: #ffa734;
    outline: none !important;
}

.speaker-wrap .text .position {
    font-size: 18px;
    color: rgba(0, 0, 0, 0.4);
}

.speaker-wrap:hover, .speaker-wrap:focus {
    -webkit-box-shadow: 0px 7px 15px -5px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0px 7px 15px -5px rgba(0, 0, 0, 0.07);
    box-shadow: 0px 7px 15px -5px rgba(0, 0, 0, 0.07);
}

.speaker .text {
    position: relative;
}

.speaker .text:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    content: '';
    width: 80%;
    height: 1px;
    margin: 0 auto;
    background: #ffa734;
    background: -moz-linear-gradient(45deg, #ffa734 0%, #ffa734 0%, #e68200 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, #ffa734), color-stop(0%, #ffa734), color-stop(100%, #e68200));
    background: -webkit-linear-gradient(45deg, #ffa734 0%, #ffa734 0%, #e68200 100%);
    background: -o-linear-gradient(45deg, #ffa734 0%, #ffa734 0%, #e68200 100%);
    background: -ms-linear-gradient(45deg, #ffa734 0%, #ffa734 0%, #e68200 100%);
    background: linear-gradient(45deg, #ffa734 0%, #ffa734 0%, #e68200 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa734', endColorstr='#e68200', GradientType=1 );
}

.speaker h3 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0;
}

.speaker .position {
    font-size: 15px;
}

/*Schedule*/


@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #ffa734;
    }

    .nav-item.nav-link {
        /* (80px - line-height of 27px) / 2 = 26.5px */
         padding-top: 21.5px;
         padding-bottom: 21.5px;
    }

    #s-updates {
        padding-top: 15%;
        padding-bottom: 15%;
        min-height: 225px;
    }

    #s-updates .single h2 {
        font-size: 18px;
        margin-bottom: 20px;
    }

    #s-updates .single .form-control {
        height: 40px;
    }

    #s-updates .single .btn {
        min-height: 40px;
    }

    .btn-view-all {
        width: 45%;
    }
}

@media only screen and (max-width: 480px) {
    #s-updates {
        max-height: 200px;
    }

}

html,
body,
header,
.view {
    height: 100%;
}
